*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
 #Loginpage{
    background-color: #fff;
    max-width: 500px;
    margin: 150px auto;
    padding: 80px 45px;
    border-radius: 12px;
 }
 h2{
    color: #153677;
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
 }
 #loginuser,#registeruser,#loginpass,#registerpass{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    margin: 10px 0px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
 }
 #loginbtn , #registerbtn{
    width: 100%;
    padding: 12px;
    background-color: #153677;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
 }
 #loginbtn:hover , #registerbtn:hover{
    background-color: #0d2450;
 }
 .login p , .Register p{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
 }
 .login p span , .Register p span{
    color: #153677;
    font-weight: bold;
    cursor: pointer;
 }
 .login p span:hover , .Register p span:hover{
    text-decoration: underline;
 }
 @media screen and (max-width : 480px) {
    #Loginpage{
        width: 90%;
        margin: 50px auto;
    }
    .login, .register{
        padding: 30px 20px;
    }
 }
#todoapp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
#todoapp h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
#btn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#btn:hover{
    background-color: green;
}
ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
ul li{
    background: #f4f4f4;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}