*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
 h2{
    color: #153677;
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
 }
#todoapp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
#todoapp h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
#btn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#btn:hover{
    background-color: green;
}
ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
ul li{
    background: #f4f4f4;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 @media screen and (max-width : 480px) {
    #todoapp{
        margin: 50px auto;
        padding: 25px 20px 40px;
    }
       .row{
        flex-direction: column;   /* input & button vertically */
        padding: 15px;
        border-radius: 15px;
    }
      .row input{
        width: 100%;
        margin-bottom: 12px;
        padding: 12px;
        background: #fff;
        border-radius: 8px;
    }
      #btn{
        width: 100%;
        padding: 14px;
        border-radius: 8px;
        font-size: 15px;
    }
 }